$primaryColor: #fff;
$secondaryColor: #000;
$primaryTextColor: #000;
$secondaryTextColor: #fff;
$thirdTextColor: #010184;
$fourthTextColor: #666;
$secondaryBackground: #f6f6f6;
$lightGrey: #d2d2d2;
$white: white;
$brownGrey: #797979;
$midBlue: #1d62ae;